.footer {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr ;
}

.footer_grid1 {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url("../imagergridpart/parallax-bg.jpeg");
    background-size: cover;
    height: 588px;
    justify-items: center;
    align-items: center;
}

.footer_grid2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    grid-column: 1/5;
}





