a{
    text-decoration: none;
    color: #ffffff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #313131;
    color: #ffffff;
    font-family: Open Sans;
    align-items: center;
}

.navbar_menu-text-section{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.navbar_section1{
    display: flex;
    align-items: center;
}

.navbar_section2{
    display: flex;
    background-color: #000;
}

.navbar_menu-list-section1{
    font-size: 22px;

}

.navbar_menu-list{
    padding: 10px 15px;
    font-style: normal;
    font-weight: 600;
    margin-left: 5px;
    font-size: 15px;
}

.headerimg1{
    width: 27px;
    height: 27px;
    color: blue;
}

.headerimg2{
    width: 17px;
    height: 17px;
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-image:  url(../images/header-bg.jpeg);
    background-size : cover;
    padding-top: 250px;
    padding-bottom: 230px;
    background-position-y: bottom;

}

.header_img{
    width: 1900px;
    height: 369px;

}

.img_text{
    position: absolute;
    top: 50%;
    text-align: center;
}

.h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF
}

.button1{
    position: absolute;
    background: #89CA62;
    width: 170px;
    height: 55px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transform: translate(-112px, 59px);
}

.button2{
    position: absolute;
    background: #14B9D5;
    width: 170px;
    height: 55px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    transform: translate(120px, 60px);
}
