.header_grid{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.header_grid-h3{
    grid-column: 1/8;
    padding: 40px;
}