.main_h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding: 40px;
}

.main_grid {
    display: grid;
    width: 1170px;
    margin: 60px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 260px 418px 418px auto;
    gap: 32px 42px;
}

.main_grid_container {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    background: #F9F7F7;
    position: relative;
}


.main_grid_img1 {
    background-image: url("../imagergridpart/post-1-img.svg");
    width: 483px;
    height: 259px;
    float: left;
}

.main_grid_container-text1 {
    text-align: center;
}

.h5 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.main_grid_text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.main_grid_img2 {
    background-image: url("../imagergridpart/post-2-img.svg");
    width: 277px;
    height: 210px;
}

.main_grid_container-text2 {
    text-align: center;
    position: absolute;
    left: 45px;
    bottom: -15px;
}


.main_grid_img3{
    background-image: url("../imagergridpart/post-3-img.svg");
    width: 554px;
    height: 259px;
}

.main_grid_container-text3{
    text-align: end;
}

.name_container_text3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 10px;
}

.main_grid_img4{
    background-image: url("../imagergridpart/post-4-img.svg");
    width: 554px;
    height: 259px;
}

.main_grid_img5{
    background-image: url("../imagergridpart/post-4---img.png");
    width: 554px;
    height: 259px;
}

.main_grid_img6{
    background-image: url("../imagergridpart/post-6-img.png");
    width: 554px;
    height: 259px;
}

.main_grid_img7{
    background-image: url("../imagergridpart/post-7-img.svg");
    width: 277px;
    height: 210px;
}

.main_grid_img8{
    background-image: url("../imagergridpart/post-8-img.svg");
    width: 483px;
    height: 259px;
    float: left;
}

.main_grid_container-text8 {
    text-align: center;
}


.footer_logo{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr ;
    background:  #000000;
    align-items: center;
}

.footer_logo_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    text-align: center;
}



