
.h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    padding-top: 50px;
    color: #18B4CF;
}

.container {
    width: 100%;
    max-width: 1600px;
    height: 1030px;
    margin: 0 auto;
    text-align: center;
    background: #F2F2F2;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #F2F2F2;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.mainblock1 {
    width: 370px;
    height: 259px;
    padding-right: 30px;
}

.mainblock2 {
    width: 370px;
    height: 380px;
}

.mainblock3 {
    width: 370px;
    height: 290px;
    padding-left: 30px;
}

.mainblock4 {
    width: 370px;
    height: 260px;
    padding-right: 30px;
}


.mainblock5 {
    margin-top: 70px;
    width: 370px;
    height: 247px;

}

.mainblock6 {
    width: 370px;
    height: 380px;
    padding-left: 30px;
}

.mainblock_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    height: 40px;
    width: 370px;
    color: #353A3D;
    background: #ffffff;
}